* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --poppins: "Poppins", sans-serif;
    --ungu: #b1b2ff;
    --biru: #aac4ff;
    --abu: #d2daff;
    --putih: #eef1ff;
    --hijau: #b3ffae;
    --merah: #fc7d7d;
}

body {
    overflow-x: hidden;
    font-family: var(--poppins);
}

/* HALAMAN UTAMA */
#header {
    width: 100%;
    height: 50px;
    background-color: var(--ungu);
    border-bottom: 2px solid var(--putih);
    display: flex;
    align-items: center;
    justify-content: end;
}

.judul {
    width: 460px;
    height: 70px;
    background-color: var(--biru);
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.judul > h2 {
    color: white;
    font-weight: 600;
    line-height: 70px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.konten {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.konten-kotak:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.konten-kotak {
    position: relative;
    width: 250px;
    height: 210px;
    overflow: hidden;
    border: 1px solid var(--abu);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.thumb {
    height: 210px;
    position: relative;
}

a > div.konten-judul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 70px;
    background-color: var(--ungu);
    padding: 10px;
}

a > div.konten-judul {
    font-size: 18px;
    font-weight: 600;
}
/* AKHIR HALAMAN UTAMA */

/* HALAMAN TAMPIL */
.banner {
    width: 100%;
    height: 20em;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-gb {
    display: block;
    width: 100%;
    transform: scale(1.1);
}

.tampil-judul {
    font-weight: 600;
}

.tampil-other {
    font-weight: 500;
    letter-spacing: 0.2em;
}

.post-other {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.thumbnail {
    width: 100%;
    height: 6em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail > img {
    width: 130% !important;
    display: block;
}
/* AKHIR HALAMAN TAMPIL */

/* HALAMAN LOGIN */
.peringatan {
    width: 350px;
    position: absolute;
    top: 5em;
}

#login {
    width: 100%;
    height: 100vh;
}

.kotak-login {
    width: 300px;
    height: 380px;
    border-radius: 10px;
    background-color: var(--biru);
    box-shadow: 3px 3px 5px #4267b2;
    padding: 15px;
}

.kotak-login > h2 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.14em;
    text-align: left;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.teks-login {
    color: white;
    letter-spacing: 0.14em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.input-login,
.btn-login {
    box-shadow: 2px 2px 4px #4267b2;
}

.btn-login {
    color: black;
    background-color: var(--ungu);
    letter-spacing: 0.14em;
    text-align: center;
    width: 100%;
    height: 40px;
}

.btn-login:hover {
    background-color: #9193fe;
}

.btn-login:active {
    background-color: #9193fe;
}

a.kembali {
    font-weight: 400;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* AKHIR HALAMAN LOGIN */

/* HALAMAN DASHBOARD */
.judul-dash {
    width: 250px;
    height: 50px;
    margin-left: 3em;
    background-color: var(--biru);
    border-radius: 25px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.judul-dash > h4 {
    color: white;
    font-weight: 400;
    line-height: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.konten {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.konten-kotak:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.konten-kotak {
    position: relative;
    margin: 1em 1em;
    width: 250px;
    height: 210px;
    overflow: hidden;
    border: 1px solid var(--abu);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.thumb {
    height: 210px;
    position: relative;
}

div.dash-judul {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 70px;
    background-color: var(--ungu);
    font-size: 18px;
    font-weight: 600;
    display: flex;
}

div.dash-judul > button {
    width: 50%;
    text-align: center;
}
div.dash-judul > button.edit-button {
    background-color: var(--hijau);
}
div.dash-judul > button.edit-button:hover {
    background-color: #61ff7e;
}

div.dash-judul > button.delete-button {
    background-color: var(--merah);
}
div.dash-judul > button.delete-button:hover {
    background-color: rgb(255, 56, 56);
}

/* UBAH */
.form-ubah {
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}

.tombolx {
    position: absolute;
    top: 0.1em;
    right: 1em;
    color: white;
    font-size: 2rem;
}

.tombolx:hover {
    cursor: pointer;
}

.pembungkus-form {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1.5em;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-edit {
    border-radius: 7px;
    box-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
    width: 70%;
    background-color: whitesmoke;
    padding: 1em;
}

.tombol-gambar:hover {
    cursor: pointer;
}

/* AKHIR HALAMAN DASHBOARD */
